###############################################################################
##  |	Copyright 2014 Monad Solutions Ltd.
##  |
##  |	Licensed under the Apache License, Version 2.0 (the "License");
##  |	you may not use this file except in compliance with the License.
##  |	You may obtain a copy of the License at
##  |
##  |		http://www.apache.org/licenses/LICENSE-2.0
##  |
##  |	Unless required by applicable law or agreed to in writing, software
##  |	distributed under the License is distributed on an "AS IS" BASIS,
##  |	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##  |	See the License for the specific language governing permissions and
##  |	limitations under the License.
###############################################################################

#parse("bs/macros.vm")

#if( ${pagedir-right-to-left} == "true" || ${pagedir-right-to-left} == "True")
    #set($pagedirString = "rtl")
#else
    #set($pagedirString = "ltr")
#end

#if ($screen.hasCommentary()) 
    #set ($commentaryExists = $screen.hasCommentary())
    #set ($commentaryURL = $screen.getCommentaryURL())
#end    

#set($validCommentaryTarget = ${opa-commentary-type} == "iframe" || ${opa-commentary-type} == "frameset" || ${opa-commentary-type} == "popup")

    
## set the target for control and commentary
#if ( ${opa-commentary-type} == "iframe" )
    #set($commentaryTarget = ${opa-commentary-iframe})
#end

#if ( ${opa-commentary-type} == "frameset" )
    #set($commentaryTarget = ${opa-commentary-frameset})
#end
##############################################################
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="${screen.getLocale()}">
    <title>${header-title-text}</title>

    <!-- Bootstrap -->
    <link href="${context-root-path}${resource-request}/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="${context-root-path}${resource-request}/bootstrap-3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="${context-root-path}${resource-request}/owd-bootstrap.css" rel="stylesheet">
		
				
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body role="document">
	
	#parse("bs/includes/menu-bar.vm")
	## TODO Status Bar
	
    <div class="container">
		#parse ( "bs/screens/${screen-template-name}.vm" )
    </div>

	## FOOTER
	#parse("bs/includes/footer.vm")
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="${context-root-path}${resource-request}/jquery-1.7.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="${context-root-path}${resource-request}/bootstrap-3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

