/*-------------------------------------------------------------------------- 
  |	Copyright 2014 Monad Solutions Ltd.
  |
  |	Licensed under the Apache License, Version 2.0 (the "License");
  |	you may not use this file except in compliance with the License.
  |	You may obtain a copy of the License at
  |
  |		http://www.apache.org/licenses/LICENSE-2.0
  |
  |	Unless required by applicable law or agreed to in writing, software
  |	distributed under the License is distributed on an "AS IS" BASIS,
  |	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  |	See the License for the specific language governing permissions and
  |	limitations under the License.
----------------------------------------------------------------------------*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Theme CSS
-------------------------------------------------- */
body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

div.question, div.info {
	display: inline;
}

div.radio-group-boolean fieldset legend {
	display: none;
}

div.radio-group fieldset legend {
	display: none;
}

p.error {
	color: red;
}
