###############################################################################
##  |	Copyright 2014 Monad Solutions Ltd.
##  |
##  |	Licensed under the Apache License, Version 2.0 (the "License");
##  |	you may not use this file except in compliance with the License.
##  |	You may obtain a copy of the License at
##  |
##  |		http://www.apache.org/licenses/LICENSE-2.0
##  |
##  |	Unless required by applicable law or agreed to in writing, software
##  |	distributed under the License is distributed on an "AS IS" BASIS,
##  |	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##  |	See the License for the specific language governing permissions and
##  |	limitations under the License.
###############################################################################

#@inputControlWrapper()
    #if($control.getSelectionStyle().equals("checkbox"))
		<div class="checkbox">
			<label>
                <input type="checkbox" name="${control.getId()}" value="true" tabindex="#tabIndex()"
    				#if( $control.isTrue() )
    					checked
    				#end
    				>${boolean-true}
			</label>
		</div>
	#else
		<div class="radio">
			<label>
				<input type="radio" name="${control.getId()}" id="${control.getId()}0" value="true" tabindex="#tabIndex()"
                    #if(${control.isTrue()})
                        checked
                    #end
				>${boolean-true}
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="${control.getId()}" id="${control.getId()}1" value="false" tabindex="#tabIndex()"
                    #if(${control.isFalse()})
                        checked
                    #end
				>${boolean-false}				
			</label>
		</div>
        #if( !${control.isMandatory()} )
			<div class="radio">
    			<label>
    				<input type="radio" name="${control.getId()}" id="${control.getId()}1" value="uncertain" tabindex="#tabIndex()"
                        #if( ${control.isUncertain()} )
                           checked
                        #end
                    >${boolean-uncertain}
    			</label>
			</div>
        #end
	#end
#end

